body {
    font: 20px Arial, serif;
}

.quem-somos {
    background-color: rgb(160, 161, 216);
    padding-top: 30px;
    padding-bottom: 50px;
    color: #fff;
}

.quem-somos h4 {
    font-size: 18px;
    margin-top: 20px;
}
