body {
    font: 20px Arial, serif;
}

section {
    color: #fff;
}

.quem-somos {
    background-color: rgb(160, 161, 216);
}

.padding {
    padding-top: 40px;
    padding-bottom: 50px;
}

.title {
    margin-bottom: 50px;
}

.subtitle {
    font-size: 18px;
    margin-top: 30px;
}

.parceiros {
    background-color: rgb(29, 26, 48);
}

.row img {
    width: 75%;
}

.servicos {
    background-color: rgb(145, 112, 175);
}

.bg-footer {
    color: #fff;
    background-color: #000;
    font-size: 15px;
    padding: 20px 0;
}
